body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

/* Стилизация отдельных блоков сайта */
/* body > * {
  background-color: rgba(225, 0, 0, 0.3);
}

body > * > * {
  background-color: rgba(225, 225, 0, 0.3);
}

body > * > * > * {
  background-color: rgba(0, 0, 225, 0.3);
} */

.visually-hidden {
  display: none;
}

/* Общая стилизация шапки сайта */
.main-header {
  min-height: 285px;
  margin-bottom: 75px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 285px;
  background-color: transparent;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;

  min-height: 70px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  order: 1;
  width: 368px;
  height: 153px;
}

.site-navigation {
  width: 620px;
  margin: 0;
  padding: 0;

  min-height: 70px;
}

.user-navigation {
  width: 140px;
  margin: 0;
  padding: 0;

  min-height: 70px;
}

/* Общая стилизация раздела "Преимущества" */
.features {
  margin-bottom: 80px;
}

.features-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  min-height: 170px;
}

.feature-item {
  width: 300px;

  min-height: 170px;
}

/* Общая стилизация разделов "Новости" и "Фотогалерея" */
.index-colums {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;

  background-image: none;
  background-color: transparent;
}

.news {
  width: 380px;

  min-height: 315px;
}

.gallery {
  width: 300px;

  min-height: 315px;
}

.contacts {
  width: 380px;

  min-height: 295px;
}

.appointment {
  width: 300px;

  min-height: 340px;
}
/* Общая стилизация подвала сайта */
.main-footer {
  padding: 60px 0;
  margin-top: 65px;

  background: none;
  min-height: 180px;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;

  min-height: 100px;
}

.footer-social {
  width: 145px;

  min-height: 100px;
}

.footer-copiright {
  width: 150px;
  margin: 0;
  margin-left: auto;

  min-height: 100px;
}

/* Общая стилизация страницы каталога*/
.inner-page .main-header {
  margin-bottom: 50px;

  background-color: #000000;

  min-height: 70px;
}

.inner-page .main-navigation {
  flex-direction: row;
  align-items: flex-start;

  min-height: 70px;
}

.inner-page .main-header-logo {
  order: 0;

  width: 111px;
  height: 24px;
  padding: 23px 20px;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.page-title {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  min-height: 42px;

}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  min-height: 24px;
}

.filters {
  width: 180px;

  min-height: 687px;
}

.catalog {
  width: 700px;

  min-height: 687px;
}

.catalog-colums {
  display: flex;
  justify-content: space-between;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.catalog-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;

  background-color: transparent;
  box-shadow: inset 0 0 0 2px purple;
  min-height: 285px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin: 0;

  min-height: 47px;
}

.pagination-item {
  width: 43px;
  min-height: 43px;

  margin-right: 7px;
}

.inner-page .main-footer {
  margin-top: 45px;
}
/* Общая стилизация страницы товара*/
.product-photos {
  width: 460px;

  min-height: 677px;
}

.description-item {
  width: 390px;

  min-height: 667px;
}

/* Стилизация каталога товара */
.inner-page {
  color: #000000;

  background-color: #f9f6f3;
  background-image: url("../img/background-pattern.png");
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

/* Стилизация кнопок */
.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:active,
.button:focus {
  background-color: #663d15;
}

/* Основная навигация */
.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

/* Навигация по сайту и пользовательская навигация */
.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

/* Стили раздела "Преимущества" */
.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.features-list h3 {
  font-size: 30px;
  line-height: 42px;
}

/* Стилевое оформление разделов "Новости" и "Фотогалерея" */
.index-colums {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/background-pattern.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.index-colums h2 {
  font-size: 30px;
  line-height: 42px;
}

.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;
}
.gallery-content {
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

/* Стилевое оформление формы записи */
.appointment-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
}

/* Стили главного заголовка страницы */
.page-title {
  font-size: 30px;
  line-height: 42px;
}

/* Стили навигационной цепочки */
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

/* Стили фильтьра товаров */
.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 24px;
  line-height: 30px;
}

.filters ul {
  list-style: none;
  line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

/* Стилизация карточек товара */
.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
  color: #000000;
}

.catalog-item h3 {
  font-size: 14px;
  line-height: 18px;
}

.catalog-category {
  text-transform: none;
}

.catalog-item-price b {
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;
}

.catalog-item-price .button {
  line-height: 20px;
  color: #ffffff;
}
/* Стилизация изображения товара */
.product-photo-preview {
  list-style: none;
}

.product-photo-preview li {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-full {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

/* Стилизация описания товара */
.product-article {
  text-align: right;
  color: #aeaeae;
}

.product-price b {
  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;
}

.description-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.description-item ul {
  list-style: none;
}

/* Стилизация пагинации */
.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #ffffff;

  background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}

/* Стилевое оформление подвала сайта */
.main-footer {
  color: #ffffff;

  background-color: #212121;
  background-image: url("../img/background-pattern-footer.png");
  background-position: 0 0;
  background-repeat: repeat;
}

/* Стилевое оформление контактов */
.footer-contacts {
  font-style: normal;
  color: #ffffff;
}

.footer-contacts a {
  font-style: normal;
  color: #ffffff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

/* Стилевое оформление социальных сетей */
.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

/* Стилевое оформление авторских прав */
.footer-copiright {
  text-align: center;
}

.footer-copiright .button:hover,
.footer-copiright .button:focus {
  color: #000000;

  background-color: #ffffff;
}

/* Стилизация модального окна */
.modal {
  color: #000000;

  background-color: #f8f3f0;
  background-image: url("../img/background-pattern.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f8f3f0;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}
